# Dependencies
node_modules/
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env
.env.local

# Synthetic & Model Data
backend/generated_data/
backend/saved_models/

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
